header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#highscores {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2, p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
#inputdefault {
    margin: 0px 4px 0px;
}

#start, #back, #clear-highscores, #submit-initials {
  
    padding: 7px 12px 7px 12px;
    font-size: 15px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    

    color: white;
    background-color:#333;

   
    margin: 0 auto;
    display: block;
    margin-top: 40px;

}

ul {
  
    list-style-type: none;
}


li button {

    list-style-type: none;
    padding: 7px 30px 7px 12px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px 0px 160px;

    color: white;
    background-color:#333;
    display: inline
    

}

#highscorePage {
    display: none;
}

#questionsPage {
    display: none;
}
#allDonePage {
    display: none;
}